*
{
margin: 0;
padding: 0;
font-family: 'Space Mono', monospace;
}

.containercarcompras{
margin-top:5%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

.containercarcompras .titulo{
width: 90%;
}

.carcompras{
padding: 25px 74px 29px 28px;
width: 90%;
margin-top: 3%;
display: flex;
border: gray solid;
gap: 5px;
}

.carImagem{
width: 70%;
}

.carImagem img{
width: 100%;
}

.textomeio{
width: 40%;
font-size: 1.25rem;
}

.textodireita{
height: 0%;
width: 100%;
}

.textodireita p{
font-size: 1.25rem;
text-align: justify;

}

.textodireitainf{
margin-top: 20%;
font-size: 1.25rem;
width: 100%;
}

.textodireita span{
color:orangered;
text-decoration: underline;
}

.textodireitainf input{
cursor: pointer;
}

.textoinf{
margin-top: 5%;
margin-left: 20%;
gap: 15px;
}

.botaoprosseguir{
margin-top: 5%;
}

.botaoprosseguir button{
border:none
}

.botaoprosseguir h3{
text-align: center;
font-size: 1rem;
padding: 10px 10px;
background-color: #4761B4;
border-radius: 20px;
cursor: pointer;
}