* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.menuicon {
    height: 70px;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 1rem;
    background: #4761B4;
    color: #fff;
    align-items: center;
    
}
nav {
    height: 70px;
    width: 30%;
    
}

.menu {
    font-size: 3rem; 

}
.textocontainer {
 display:flex; 
 align-items: center;
 gap: 5px;
 font-size: 2rem;
}

.login {
    font-size: 1rem;
    color:#CCCCCC;
}


