* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Space Mono', monospace;
    
}
.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-left: 7%;
  margin-right: 7%;
}

.container_colecoes{
 
}

.container_maisfotos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.cardWrapper{
  
  display: flex;
  justify-content: space-between;
}

.card1Wrapper{
  display: flex;
  justify-content: space-between;
}

.pesquisa input[type='text']{
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    font-size: 15px;
    outline: none;
    width: 90%;
    margin-left:5%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.barraMenu {
    width: 70%;
    display: flex;
    justify-content: center;  
    gap: 20px;
    background-color: #ffff;
}

.barraMenu a {
  color:#000000; 
  text-decoration: none; 
      
}

.barraMenu a:hover {
  color: #4761B4; 
}

.containerMenu{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;

}

.contentWrapper{
  display: flex;
  gap:5px;  
  justify-content: center; 
}

.textos{
  background-color: #4761B4;
  color: #ffff;
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: flex-end;  

}
h3, p{
  margin-left: 05px;
}
  
.card {
  width: calc(33.33% - 20px); /* Calcula 1/3 do tamanho da largura do contêiner e subtrai a margem entre os itens */
  margin-bottom: 20px; /* Adiciona espaçamento entre as linhas */

}
  
.card img {
  max-width: 100%;
  height: auto;
}

hr {
  border-width: 2px;
  color: #4761B4;
 }
  
.card1Wrapper {
  display: flex;
  flex-wrap: wrap; /* Permitir que os itens quebrem para a próxima linha */
  gap: 20px; /* Espaçamento entre as imagens */
}
  
.card1 {
  width: calc(33.33% - 20px); /* Calcula 1/3 do tamanho da largura do contêiner e subtrai a margem entre os itens */
  margin-bottom: 20px; /* Adiciona espaçamento entre as linhas */
}
  
.card1 img {
  max-width: 100%;
  height: auto;
}

.foto1{
  width: 76%;
 
}

  
.foto1 img{
  height: 100%;
  width: 100%;
}