.container{
    background-color: #E5401B;
    border: 1px solid #707070;
    margin: 0 ;
    padding: 1rem;
    opacity: 1;
    width: 100%;
    height: 431px;
    display: flex;
    flex-direction: column;
    
}

.vielas{
    color:#FFFFFF;
    text-align: center;
    justify-content: center;
    margin: 0 0 0 0;
    border: #000000 solid;

}


.icon{
    color: #000000;
    border: #FFFFFF solid;
    margin: 0 0 0 0;
    flex-grow: 1;
    width: 214px;
    height: 34.51px;
    display: flex;
    justify-content: center;
    
    
}

.icons{
    color: #000000;
    border: #FFFFFF  groove;
    height: 20px;
    text-align: left;

}


.textos1{
    color:#000000;
    justify-content: initial;
    text-align: center;
    margin: 0 0 0 0;
    line-height: 10px;
    flex-basis: 0px;
    flex-grow: 1;
}



h3 {
    font-family: 'Space Mono', Bold;
}