* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.containerFooter{
    width: 100%;
    height: 300px;
    background-color: #E5401B;

}

.containerItens{
    padding: 20px;
    width: 50%;
    margin-left: 30%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

h3{
    color: #FFFFFF;
    font-family: 'Space Mono', bold;
    font-size: 20px;  
}

.finalText{
    width: 130px;
    margin-left: 50%;
    font-size: 10px;

    
}